extends ../layout.pug

block content
  .col-md-8
    h1 Annict Widgets
    p ウィジェットを作成しました。下のコードを設置する場所に貼り付けてください。(プレビューが「読み込み中...」から変わらない場合はページをリロードしてください。)
    textarea.form-control
      | &lt;div id='annict-widgets' data-id='#{dataId}'&gt;&lt;/div&gt;
      | &lt;script type='text/javascript' src='#{BASE_URL}/static/javascripts/annict-widgets.js'&gt;&lt;/script&gt;

  .col-md-4
    #annict-widgets(data-id=dataId)

block post-script
  script(src='/static/javascripts/annict-widgets.js')
