doctype html
html
  head
    meta(charset='utf8')
    title Annict Widgets
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
  body
    style.
      html, body { background-color: #eee; }
    .container(style='margin-top: 64px;')
      .col-md-8
        h1 Annict Widgets
        p generated your widget code. copy it &amp; paste into your site :)
        textarea.form-control
          | &lt;div id='annict-widgets' data-id=''&gt;&lt;/div&gt;
          | &lt;script type='text/javascript' src='annict-widgets.js'&gt;&lt;/script&gt;

      .col-md-4
        #annict-widgets

    script(src='/static/javascripts/annict-widgets.js' data-id='')
