extends ./layout.pug

block content
  .rows
    .col-md-8.col-md-offset-2
        div(align='center')
          h1 Annict Widgets
          p 認証することで画像のようなウィジェットが作成できます。
          img(style='padding: 32px 0;' src='/static/images/annict-widgets-shot.png' alt='annict-widgets' width='256px')
          p
            a.btn.btn-annict(href='/auth')
              span.glyphicon-plus
              | &nbsp;ウィジェットを作成
